body, html {
	color: #1c424d;
}

p {
	font-size: 13px;
}
a {
	color: #5b777f;
}
a:hover, a:focus {
	text-decoration: none;
	color: #f1c40f;
}
.img-centered {
	margin: 0 auto;
}
ul, ol {
	list-style: none;
}

/* Navigation */
#menu {
	padding: 4px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
}
#menu a.navbar-brand {
	text-transform: uppercase;
	font-size: 22px;
	color: #d9e0e2;
	font-weight: 700;
	letter-spacing: 1px;
}
#menu a.navbar-brand i.fa {
	color: #f3ca27;
}
#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #d9e0e2;
	font-size: 14px;
	letter-spacing: 1px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #f3ca27;
}
.bar {
    background-image: url(../img/navbar1.png);
	padding: 0 !important;
   
}
@media screen and (max-width: 800px) {
    .bar {
        background-image: none !important;
    }
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #f3ca27 !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #f3ca27;
	border-color: #f3ca27;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}
/* Home Style */
#home {
	background: url(../img/bg.jpg) no-repeat top fixed;
	background-size: cover;
	position: relative;
	padding-bottom: 0px;
    height:800px;
}
@media screen and (max-width: 1080px) {
    #home {
        height:1080px;
    }
}
#home p {
	color: #d9e0e2;
	font-size: 20px;
	margin-bottom: 80px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
input{
    color:purple;
}
.intro-text {
	position: relative;
	padding-top: 250px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 170px;
}
.intro-text H1 {
	font-size: 70px;
	text-transform: uppercase;
	color: #d9e0e2;
	letter-spacing: 2px;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.color {
	color: mediumpurple;
}
.btn-default {
	color: #294d57;
	background-color: mediumpurple;
	border: 0;
	margin: 0 8px;
	font-size: 18px;
	transition: all 0.5s;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	background-color: blueviolet;
}
#circle:hover {
    background: blueviolet;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    color:white;
    line-height:33px;
    text-align:center;
    transition: all 0.5s;
	margin: 5px;
    font-size: 50px;
    padding-top: 20px;
    
}


#circle{
    width:55px;
    color:white;
    background: purple;
    line-height:33px;
    text-align:center;
    height:55px; 
	margin-left: 0.5em;
	margin-right: 0.5em;
    margin-bottom: 5px;
	
}
#circle .showBtn a{
    color:white;
}

#circle .showBtn a:hover{
    color:mediumpurple;
}
#circle .showBtn {
    display: none;
}
#circle:hover .showBtn {
    display: inline;
}
/* display Section */
#displaySection {
    padding: 80px 0 80px 0;
	background: white;
    min-height:500px;
    color: blueviolet;
}
/* Search Section 
==============================*/
#searchSection {
    padding: 80px 0 80px 0;
	background: blueviolet;
    min-height:500px;
    color:white;
}

/* Chart Section */
#chartSection {
    padding: 80px 0 80px 0;
    background: white;
    min-height:500px;
    color:blueviolet;
}

/* login button position*/
.moveRight{
	 padding-right: 13px;
  	 text-align: right;
}
.moveRight .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.moveRight .btn-group .btn + .btn {
  margin-left: -1px;
}
.moveRight .btn-block + .btn-block {
  margin-left: 0;
}

.modal-footer{
	text-align: center;
}

.circle-text{
    width:190px;
    margin-top: 10px;
}

.circle-text:after{
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: blueviolet;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.circle-text div{
    float:left;
    width: 100%;
    padding-top: 25%;
    line-height: 1em;
    margin-top: -0.5em;
    text-align: center;
    color: white;
}

.circle-texts{
    width:190px;
    margin-top: 10px;
}

.circle-texts:after{
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: white;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.circle-texts div{
    float:left;
    width: 100%;
    padding-top: 25%;
    line-height: 1em;
    margin-top: -0.5em;
    text-align: center;
    color: black;
}




.fa-thumbs-up{
    color: white;
}

.fa-thumbs-down{
    color: white;
}

.likePosition{
    padding-top: 30%;
}


